/* Página */
.comercial-page {
  min-height: 100vh;
  padding: 2rem;
  background: linear-gradient(to right, #f9f9f9, #f1f5ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

/* Título */
.titulo-principal {
  font-size: 1.8rem;
  font-weight: bold;
  color: #0d3b66;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

/* Card de formulário */
.form-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 500px;
  transition: transform 0.2s ease-in-out;
}

.form-card:hover {
  transform: translateY(-3px);
}

/* Conteúdo interno */
.card-body {
  padding: 2rem;
}

/* Labels */
.form-label {
  font-weight: 600;
  color: #333;
}

/* Inputs */
.form-control {
  margin-bottom: 1.25rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

/* Botão */
.btn-primary {
  background-color: #0d6efd;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  width: 100%;
}

.btn-primary:hover {
  background-color: #084cdf;
}

/* Resultado da consulta */
.card.form-card.mt-4 {
  margin-top: 2rem;
}

.card.form-card.mt-4 p {
  font-size: 0.95rem;
  margin-bottom: 0.5rem;
  color: #212529;
}

.card-opcoes {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  text-align: center;
  margin-bottom: 2rem;
  max-width: 500px;
}

.icon-container {
  background-color: #0d6efd;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-opcao {
  font-size: 1.8rem;
  color: #fff;
}

.opcao-texto {
  font-weight: 500;
  color: #333;
  font-size: 1rem;
}

.text-title {
  margin-bottom: 0.50rem;
}