.consulta-container {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.titulo-pagina {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.card-options-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

.card-option {
  background-color: #fff;
  border: 1px solid #ddd;
  color: black;
  padding: 1.5rem;
  border-radius: 0.75rem;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 200px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card-option:hover,
.card-option.active {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.icon-container {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.icon-container svg {
  width: 35px;
  height: 32px;
}

.form-container {
  width: 450px; /* Reduzi o tamanho do card */
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;
  text-align: start;
  margin: 20px auto; /* Centraliza o card na tela */
}

/* Ajustando os campos de entrada */
.form-container input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
}

/* Botão de pesquisa dentro do card */
.form-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #0056b3;
}
